.login {
  .container {
    .row {
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      form {
        width: 400px;
        padding: 40px;
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
        border-radius: 10px;
        input {
          width: 100%;
          transition: 0.4s;
          background-color: #191b1e;
          border-radius: 6px;
          height: 55px;
          border: 2px solid #191b1e;
          padding: 0 15px;
          font-size: 14px;
          color: #c4cfde;
          box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
            -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
          letter-spacing: 1px;
          outline: none;
          resize: none;
        }
        input:focus,
        textarea:focus {
          border-color: #e4e6ea;
        }
        label {
          font-size: 12px;
          color: #a0a8b3;
          font-weight: 500;
          letter-spacing: 1px;
          margin-bottom: 14px;
          text-align: left;
          display: block;
          line-height: 22px;
        }
        .form-group {
          margin-bottom: 20px;
          .error-message {
            font-size: 12px;
            color: #ff014f;
            letter-spacing: 1px;
            display: inline-block;
            line-height: 22px;
          }
        }
.text{
    color: #ccc;
    font-size: 14px;
    padding: 5px 0;
    a{
        color: #ff014f;
    }
}

        .btn {
            margin-top: 10px;
          cursor: pointer;
          color: #c4cfde;
          padding: 16px 15px;
          width: 100%;
          border-radius: 6px;
          background: linear-gradient(145deg, #1e2024, #23272b);
          box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
          transition: 0.4s;
          position: relative;
          z-index: 1;
          font-size: 14px;
          font-weight: 500;
          border: 0 none;
          line-height: 22px;
          transform: scale(1);
          &:hover {
            color: #ff014f;
            transform: translateY(5px);
          }
        }
      }
    }
  }
}
